.navbar-brand{

  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}
body{
  font-family: 'Montserrat';
}
 #title{
   background-color: #ff4c68;
    color: #ffffff;
 }
 h1{
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 3.6rem;
   line-height: 1.5;
 }
 h2{
   font-family: "Montserrat";
   font-weight: bold;
   font-size: 2.5rem;
 }
 h3{
   font-family: "Montserrat";
   font-weight: bold;
   font-size: 1.4rem;
 }
 p{
   color: #8f8f8f;
   font-size: 1.1rem;
 }
 .container-fluid{
   padding:3% 15% 9%;
 }
.download-button{
  margin: 7% 3% 2% 0%;
}
.title-image{
  width:65%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
#features{
  padding:7% 15%;
  background-color: #ffffff;
  position: relative;
}
.features-icon{
  font-size: 3.5rem;
  color:#ef8172;
  margin-bottom: 15px;
}
.features-icon:hover{
  color:#ff4c68;
}
.features-box{
  text-align: center;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}
.testimonials-image{
  width:20%;
  border-radius: 100%;
  margin: 30px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  padding-bottom: 3%;
  text-align: center;
  background-color: #ef8172;
}
.press-logo{
  width: 10%;
  margin:0 2% 0 2%;
}
.pricing-padding{
  padding: 7% 10%;
}
.billing-head{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
#pricing{
  text-align: center;
  padding: 7% 10%;
}
#cta{
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #ff4c68;
  color:#ffffff;
  padding:3% 15%;
}
.cta-text{
  margin-top: 6%;
  font-size: 2.5rem;
}
#footer{
  text-align: center;
  color: #ffffff;
  padding:3% 15%;
}
.footer-icon{
   margin:20px 10px;
}
.pri-pad{
  padding: 3% 2%;
}
@media (max-width: 1020px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0deg);
  }
}
